:root {
  /* ## Colors */

  /* ### Primary */

  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);

  /* ### Neutral */

  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
.plans {
  width: 100%;
}
.plan img {
  margin-bottom: 2rem !important;
}
.plan {
  border: 1px solid rgb(191, 191, 191);
  border-radius: 8px;
  padding: 1rem 3.5rem 1rem 1rem !important;
  font-weight: 500;
  width: 8.4rem;
}

.plan:hover {
  border-color: var(--MarineBlue);
  cursor: pointer;
}

.plan h6 {
  font-weight: 700;
  color: var(--MarineBlue);
  margin-bottom: 3px !important;
}
.plan p {
  font-size: 0.9em !important ;
  color: var(--CoolGray);
}

.selectedPlan {
  border-color: var(--MarineBlue);
  background-color: var(--Magnolia);
}

.planTime {
  background-color: var(--Magnolia);
  border-radius: 8px;
  color: var(--CoolGray);
  font-weight: 500;
  font-size: 17px;
}
.checkedTime {
  color: var(--MarineBlue);
}

.yearlyPlan {
  padding-bottom: 1.7rem !important;
}

.plan .freeMonths {
  color: var(--MarineBlue);
  font-size: 14px !important;
}
